In [4]:
import pandas as pd 
import re

def normalize_spaces(s: str) -> str:
    return re.sub(r'\s+', ' ', s).strip()
    
def get_last_word(s: str) -> str:
    return s.strip().split()[-1] if s.strip() else ''
    
def get_nth_from_end(s: str, delimiter: str, n: int) -> str:
    parts = s.split(delimiter)
    return parts[-n] if 0 < n <= len(parts) else ''
    
def applytocol(df, colums):
    for col in colums:
        df['country'] =  get_last_word( col)
        
def applytostate(df, colums):
    for col in colums:
        col = col.strip()        
        df['state'] =  get_nth_from_end( normalize_spaces(col) ,' ', 4)
        
def applytocity(df, colums):
    for col in colums:
        col = col.strip()        
        df['city'] =  get_nth_from_end( normalize_spaces(col) ,' ', 5)

test_address = "      570 NELSON ST  LONDON N6B 0A2 ON CA" 
print (get_nth_from_end(test_address,' ', 5) )

LONDON